# In this question you have to scrape data using the filters available on the webpage as shown below:


You have to use the location and salary filter

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company_name, experience_required.

The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1.	first get the webpage https://www.naukri.com/
2.	Enter “Data Scientist” in “Skill,Designations,Companies” field .
 
3.	Then click the search button.
4.	Then apply the location filter and salary filter by checking the respective boxes
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

### Importing the Libraries

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

### Initializing webdriver and enter the URL to be scrapped

In [2]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

url = "https://www.naukri.com/"
driver.get(url)

### Type the Keyword you wish to search for

#### I have considered to search all "Data Scientist" positions

In [3]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [4]:

# This line runs the search button assosciated with the tex box when you entered the criteria

search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

#### Since I am searching for jobs in "Delhi" with certain salary bracket range, the following code's help in achieving that

In [5]:
location_filter = driver.find_element(By.XPATH,"//span[text()= 'Delhi / NCR']")
location_filter.click()

In [6]:
salary_filter = driver.find_element(By.XPATH,"//span[text()= '3-6 Lakhs']")
salary_filter.click()

#### Extract all the relevant information and append into lists

In [7]:
job_titles = []
company_titles = []
experience = []
salary = []
job_location = []

search_job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for jt in search_job_title:
    job_titles.append(jt.text)
    
search_company_title = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for ct in search_company_title:
    company_titles.append(ct.text)


search_experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

for exp in search_experience:
    experience.append(exp.text)
    

search_salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")

for sal in search_salary:
    salary.append(sal.text)
    

search_job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

for jl in search_job_location:
    job_location.append(jl.text)
    
    
job_details = {"Company Name":company_titles,"Job Title":job_titles, "Experience Required":experience, "Salary":salary, "Location":job_location}

### Dictionary "job_details" is passed to display output in a data frame

#### Output is displated only for 10 rows

In [8]:
job_details_df = pd.DataFrame(job_details)
job_details_df[:10]

,Company Name,Job Title,Experience Required,Salary,Location
0,Creative Hands HR Consultancy,Data Scientist/ Machine Learning Engineer,0-0 Yrs,"3,00,000 - 4,00,000 PA.","Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme..."
1,GABA Consultancy services,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,"2,25,000 - 4,75,000 PA.","Noida, Greater Noida, Delhi / NCR"
2,inVentiv International Pharma Services Pvt. Ltd.,Senior Data Scientist,3-6 Yrs,Not disclosed,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang..."
3,iHackers Inc,Data Scientist Internship,0-1 Yrs,Not disclosed,New Delhi
4,Inference Labs,Data Scientists,3-5 Yrs,Not disclosed,Gurgaon/Gurugram
5,Newgen Software Technologies Ltd.,Data Scientist,2-5 Yrs,"5,00,000 - 12,00,000 PA.",Noida
6,R Systems International Ltd.,Data Scientist,5-10 Yrs,Not disclosed,Noida(Sector-59 Noida)
7,Agreeya,Data Scientist,3-6 Yrs,Not disclosed,"Noida, Gurgaon/Gurugram, Delhi / NCR"
8,NIL-LABS Innovation Private Limited,Data Scientist,5-10 Yrs,"5,00,000 - 7,50,000 PA.","New Delhi, Gurgaon/Gurugram, Delhi / NCR"
9,Experiture,Data Scientist,5-7 Yrs,"5,00,000 - 8,50,000 PA.","Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba..."